/**
 * Base styling for .shopping_list__shipping-estimator component in cart page
 */

.shopping_list__shipping-estimator {
  max-width: 50%;
  border-radius: $border-radius;
  padding: 16px;
  border: 1px solid get-color('additional', 'middle');
  margin-top: 16px;

  @include breakpoint('mobile-landscape') {
    max-width: none;
    float: right;
    width: 100%;
    margin-top: 1rem;
  }

  .shipping-estimator__title {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: $base-font-size--large;
    font-weight: font-weight('bold');
  }

  .shipping-estimator__form {
    button[type="submit"].btn {
      margin-top: 13px;
    }
  }

  .shipping-estimate-list__item__price {
    font-weight: bold;
  }

  .shopping_list__shipping-estimate {
    border-radius: $border-radius;
    padding: 20px;
    padding-bottom: 4px;
    &:empty {
      display: none;
    }
  }

  .shipping-estimate-list__item {
    list-style: none;
    padding-top: 10px;
  }
}
